<!DOCTYPE html>
<html lang="en" ng-app="ccApp">
<head>
    <meta charset="UTF-8">
    <title>Ch developer</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/angular.js"></script>   
    <script src="https://code.angularjs.org/1.5.8/angular-animate.js"></script>
</head>
<body ng-controller="mainCtrl">
<header>
  <strong id="menu-btn">Code and Care</strong>
  <a href="index.html"><img src="img/logWh.png" alt="logo"></a>
  <div class="nav-content" id="js-menu">
    <ul class="header-nav">
      <li> <a href="our_story.html"> Our story </a> </li>
      <li> <a href="case study.html"> Case study </a> </li>
      <li> <a href="ch-developer.html"> Pick your developer </a> </li>
      <li> <a href="our_products.html"> Our products </a> </li>
      <li> <a href="blog.html"> Blog </a> </li>
    </ul>
  </div>
</header>

<div id="filters-block"  style="height:{{height}}px">
  <div>
    <div class="categories-btns-wrap">
      <button ng-click="callMenu()">Filters</button>
      <ul class="categories-btns" ng-show = "showbutton">
        <li ng-click="showCategorie('industry')" class="{{showList === 'industry' ? 'active' : ''}}">Industry</li>
        <li ng-click="showCategorie('web')" class="{{showList === 'web' ? 'active' : ''}}">Web</li>
        <li ng-click="showCategorie('mobile')" class="{{showList === 'mobile' ? 'active' : ''}}">Mobile</li> 
      </ul>
    </div>

    <ul class="categories-list web" ng-show = "showList === 'web'">
      <li><img src="img/laravel.png" width="110" height="29" alt="laravel"></li>
      <li><img src="img/jq.png" width="123" height="29" alt="jquery"></li>
      <li><img src="img/yii.png" width="137" height="29" alt="yiiframework"></li>
      <li><img src="img/php.png" width="52" height="27" alt="php"></li>
      <li><img src="img/html.png" width="25" height="29" alt="html"></li>
      <li><img src="img/angular.png" width="141" height="28" alt="angularjs"></li>
      <li><img src="img/react.png" width="63" height="29" alt="react"></li>
      <li><img src="img/node.png" width="45" height="28" alt="nodejs"></li>
      <li><img src="img/sql.png" width="55" height="28" alt="MySQL"></li>
      <li><img src="img/wp.png" width="123" height="29" alt="wordpress"></li>
      <li><img src="img/js.png" width="142" height="29" alt="javascript"></li>
    </ul>

    <ul class="categories-list mobile" ng-show = "showList === 'mobile'">
      <li><img src="img/m-react.png" width="33" height="29" alt="react"></li>
      <li><img src="img/cordova.png" width="86" height="30" alt="cordova"></li>
      <li><img src="img/ionic.png" width="94" height="33" alt="ionic"></li>
    </ul>
    
    <ul class="categories-list industry" ng-show = "showList === 'industry'">
      <li><img src="img/angular.png" width="141" height="28" alt="angularjs"></li>
      <li><img src="img/wp.png" width="123" height="29" alt="wordpress"></li>
    </ul>
  </div>
</div>

<div class="hexagon-block developers">
 <ul class="developers-list">  
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/1.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/2.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/3.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/4.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/5.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/my.jpg" alt=""/>
        <span></span>       
      </div>
    </li>    
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <a class="link-block" href="profile.html"></a>
        <img src="img/7.jpg" alt=""/>
        <span></span>
    </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/8.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/1.jpg" alt=""/>
        <span></span>
      </div>
    </li>    
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/6.jpg" alt=""/>
        <span></span>       
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/1.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/2.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/3.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/4.jpg" alt=""/>
        <span></span>
      </div>
    </li>    
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/7.jpg" alt=""/>
        <span class="shadow"></span>
    </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/8.jpg" alt=""/>
        <span class="shadow"></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/1.jpg" alt=""/>
        <span class="shadow"></span>
      </div>
    </li>    
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/3.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/4.jpg" alt=""/>
        <span></span>
      </div>
    </li>    
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/7.jpg" alt=""/>
        <span class="shadow"></span>
    </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/8.jpg" alt=""/>
        <span class="shadow"></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/1.jpg" alt=""/>
        <span class="shadow"></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/3.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/4.jpg" alt=""/>
        <span></span>
      </div>
    </li>    
    <li>
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/7.jpg" alt=""/>
        <span class="shadow"></span>
    </div>
    </li>
    <li class="mask">
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/8.jpg" alt=""/>
        <span class="shadow"></span>
      </div>
    </li>
    <li class="mask">
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/1.jpg" alt=""/>
        <span class="shadow"></span>
      </div>
    </li>
    <li class="mask">
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/3.jpg" alt=""/>
        <span></span>
      </div>
    </li>
    <li class="mask">
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/4.jpg" alt=""/>
        <span></span>
      </div>
    </li>    
    <li class="mask">
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/7.jpg" alt=""/>
        <span class="shadow"></span>
    </div>
    </li>
    <li class="mask">
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/8.jpg" alt=""/>
        <span class="shadow"></span>
      </div>
    </li>
    <li class="mask">
      <div>
        <a class="link-block" href="profile.html"></a>
        <img src="img/1.jpg" alt=""/>
        <span class="shadow"></span>
      </div>
    </li>
  </ul>
</div>

<div id="dev-card">
  <div class="dev-card-header">
    <div class="dev-card-image">
      <div>
        <img src="img/1.jpg" alt=""/>
      </div>
    </div>
    <h3 class="dev-card-name">
      <p>Igor</p>
      <p>Firshman</p>
    </h3>
  </div>
  <ul class="dev-card-skills">
    <li>
      <p>PHP</p>
      <p class="skill">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </p>
    </li>
    <li>
      <p>JS</p>
      <p class="skill">
        <span></span>
        <span></span>
        <span></span>
      </p>
    </li>
    <li>
      <p>Analys</p>
      <p class="skill">
        <span></span>
        <span></span>
        <span></span>
      </p>
    </li>
    <li>
      <p>GulpJS</p>
      <p class="skill">
        <span></span>
        <span></span>
        <span></span>
      </p>
    </li>
    <li>
      <p>SCSS</p>
      <p class="skill">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </p>
    </li>
  </ul>
  <p class="dev-card-btn">
    <a href="javascript:;" class="see_more-animation"><span>Let's start!</span></a>
  </p>   
</div>
<footer>
    <ul id="footer-nav">
        <li><a href="career.html"> Career </a></li>
        <li><a href="social.html"> Social </a></li>
        <li><a href="#"> Contact us </a></li>
    </ul>
</footer>
<script src="js/main.js"></script> 
</body>
</html>