<h1 class=page-header>FIND YOUR JOB</h1>
<!--     <div class="career-filter">
        <div class="career-keywords">
            <input type="text" placeholder="Keywords">
            <input type="text" placeholder="Kiev">
            <button class="career-search">Search</button>
        </div>
        <div class="career-icons-block">
            <p class="blue-header">Web</p>
            <ul class="career-icons">
                <li><img src="public/img/icons/1l.png" alt="img"></li>
                <li><img src="public/img/icons/2l.png" alt="img"></li>
                <li><img src="public/img/icons/3l.png" alt="img"></li>
                <li><img src="public/img/icons/4l.png" alt="img"></li>
                <li><img src="public/img/icons/5l.png" alt="img"></li>
                <li><img src="public/img/icons/6l.png" alt="img"></li>
                <li><img src="public/img/icons/7l.png" alt="img"></li>
                <li><img src="public/img/icons/8l.png" alt="img"></li>
                <li><img src="public/img/icons/9l.png" alt="img"></li>
                <li><img src="public/img/icons/10l.png" alt="img"></li>
                <li><img src="public/img/icons/11l.png" alt="img"></li>
            </ul>
            <p class="blue-header">Mobile</p>
            <ul class="career-icons">
                <li><img src="public/img/icons/1m.png" alt="img"></li>
                <li><img src="public/img/icons/2m.png" alt="img"></li>
                <li><img src="public/img/icons/3m.png" alt="img"></li>
            </ul>
            <p class="blue-header">Industry</p>
            <ul class="career-icons">
                <li>Frameworks</li>
                <li>Symphony</li>
                <li>Angular</li>
                <li>WP</li>
            </ul>
        </div>
    </div>       
 -->
    
<div class="career-thead">
    <span>We found 15 job openings for you</span>
    <div class="career-thead-info">
        <span class="career-sort">SORT BY:</span>
        <ul class="sortby-icons">
            <li class="active" title="Hot Jobs"></li>
            <li title="Date Added"></li>
            <li title="Best Match"></li>
        </ul>
    </div>
</div>
<table class="career-table">
    <tbody>
        <tr class="fire">
            <td></td>
            <td>
                Big data Solution Architect
            </td>
            <td>
                Software Architecture
            </td>
            <td>
                Kyiv, Ukraine
            </td>
            <td>
                Apply
            </td>
        </tr>
        <tr class="fire">
            <td></td>
            <td>
                Business Intelligence and
                Data Warehousing Architect
            </td>
            <td>
                Software Architecture
            </td>
            <td>
                Kyiv, Ukraine
            </td>
            <td>
                Apply
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                DevOps Solution Architectt
            </td>
            <td>
                Software Architecture
            </td>
            <td>
                Kyiv, Ukraine
            </td>
            <td>
                Apply
            </td>
        </tr>
        <tr class="fire">
            <td></td>
            <td>
                Enterprise Architect
            </td>
            <td>
                Software Architecture
            </td>
            <td>
                Kyiv, Ukraine
            </td>
            <td>
                Apply
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                HR Business Partnert
            </td>
            <td>
                Software Architecture
            </td>
            <td>
                Kyiv, Ukraine
            </td>
            <td>
                Apply
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                Java Engineer
            </td>
            <td>
                Software Architecture
            </td>
            <td>
                Kyiv, Ukraine
            </td>
            <td>
                Apply
            </td>
        </tr>
    </tbody>
</table>
<contact-form></contact-form>
