

<h1 class="page-header strait">Case study</h1>

<technologies-list></technologies-list>

<div class="hexagon-block study">
  <ul class="study-list">
    <li ng-repeat="item in caseModel"
        class={{setClass(item)?setClass(item):"mask"}}
        ng-mouseenter = "showDetailsOnCard(item)">
        <div>
          <p class="dev-image-wrap">
            <img ng-src="{{item.avatar}}" alt="{{item.name}}" />
          </p>
          <p class="go-to"><a ui-sref="project({id: item.id})" class="see_more-animation hexagon-btn"><span> Go to <br /> profile</span></a></p>
      </div>
    </li>
  </ul>
</div>


  <div class="study-card-block">
    <div id="study-card">
      <figure class="study-block">
        <div>
          <p><img ng-src="{{card.avatar}}" alt="{{card.name}}" /></p>
          <figcaption>{{card.name}}</figcaption>
        </div>
      </figure>
      <div class="study-info-wrapper">
        <h3>Basic information</h3>
        <p><span>{{card.name}}</span> - {{card.description}}
        </p>
        <a class="study-btn see_more-animation" ui-sref="project({id: card.id})">
          <span>See more</span>
        </a>
      </div>        
    </div>
    <ul class="study-technology-list">
      <li ng-repeat="technologie in card.technologies track by $index">
        <img ng-src="{{technologie.image}}" alt="icon" />
      </li>
    </ul>
  </div>