
<div id="profile-page" style=" 
    background: url('public/img/profile-bg2.png') no-repeat 87% center,
                url('public/img/profile-big2.jpg') no-repeat right center;
    background-size: contain;">

    <h1 class="page-header">Profile</h1>
    <div id="profile-info">
        <div class="developer-profile-header">
            <div class="developer-profile-photo">
                <div>
                    <img src="public/img/1.jpg" alt=""/>
                    <span></span>
                </div>
            </div>
            <div id="developer-name">
                <p>Igor Firshman</p>
                <p>Full-Stack Web Developer</p>
            </div>
        </div>
        <div id="developer-info">
            <div id="developer-skills">
                <ul class="dev-skills">
                    <li>
                        <p>PHP</p>
                        <p class="skill">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </p>
                    </li>
                    <li>
                        <p>JS</p>
                        <p class="skill">
                            <span></span>
                            <span></span>
                            <span></span>
                        </p>
                    </li>
                    <li>
                        <p>Analys</p>
                        <p class="skill">
                            <span></span>
                            <span></span>
                            <span></span>
                        </p>
                    </li>
                    <li>
                        <p>GulpJS</p>
                        <p class="skill">
                            <span></span>
                            <span></span>
                            <span></span>
                        </p>
                    </li>
                    <li>
                        <p>SCSS</p>
                        <p class="skill">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </p>
                    </li>
                </ul>
            </div>
            <div id="developer-about">
                <h3>About</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa.
                </p>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae ab
                </p>
            </div>
        </div>
        <h2 id="project-h2">Projects</h2>
        <ul id="projects">
            <li class="project-container">
                <figure class="project-screenshot">
                    <img src="public/img/proj-exemp1.png" alt="img" />
                    <figcaption>Website</figcaption>
                </figure>

                <ul class="project-technology">
                    <li><img src="public/img/icons/php.png" alt="php"></li>
                    <li><img src="public/img/icons/html.png" alt="html"></li>
                    <li><img src="public/img/icons/js.png" alt="js"></li>
                </ul>

                <div class="project-info">
                    <div>
                        <h3>Basic information</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab</p>
                        <a href="javascript:;" class="see_more-animation s_m-proj" >
                            <span>See more</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="project-container">
                <figure class="project-screenshot">
                    <img src="public/img/proj-exemp2.png" alt="img" />
                    <figcaption>Website</figcaption>
                </figure>

                <ul class="project-technology">
                    <li><img src="public/img/icons/php.png" alt="php"></li>
                    <li><img src="public/img/icons/html.png" alt="html"></li>
                    <li><img src="public/img/icons/js.png" alt="js"></li>
                </ul>

                <div class="project-info">
                    <div>
                        <h3>Basic information</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab</p>
                        <a href="javascript:;" class="see_more-animation s_m-proj" >
                            <span>See more</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="project-container">
                <figure class="project-screenshot">
                    <img src="public/img/proj-exemp3.png" alt="img" />
                    <figcaption>Website</figcaption>
                </figure>

                <ul class="project-technology">
                    <li><img src="public/img/icons/php.png" alt="php"></li>
                    <li><img src="public/img/icons/html.png" alt="html"></li>
                    <li><img src="public/img/icons/js.png" alt="js"></li>
                </ul>

                <div class="project-info">
                    <div>
                        <h3>Basic information</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab</p>
                        <a href="javascript:;" class="see_more-animation s_m-proj" >
                            <span>See more</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <a href="pro_profile.html" id="lets-start-btn">Let's start working together!</a>
    </div>
</div>
