
<div id="profile-page" style=" 
    background: url('public/img/profile-bg2.png') no-repeat 87% center,
                url('{{profile.avatar_large.path}}') no-repeat right center;
    background-size: contain;">

    <h1 class="page-header">Profile</h1>
    <div id="profile-info">
        <div class="developer-profile-header">
            <div class="developer-profile-photo">
                <div>
                    <img ng-src="{{profile.avatar.path}}" alt="developer">
                </div>
            </div>
            <div id="developer-name">
                <p>{{profile.name}}</p>
                <p>{{profile.position}}</p>
            </div>
        </div>
        <div id="developer-info">
            <div id="developer-skills">
                <ul class="dev-skills">
                    <li ng-repeat="skill in profile.skills">
                      <p>{{skill.technology.name}}</p>
                      <p class="skill">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="{{(skill.level>=3)?'active':''}}"></span>
                        <span class="{{(skill.level>=4)?'active':''}}"></span>
                        <span class="{{(skill.level==5)?'active':''}}"></span>
                      </p>
                    </li>
                </ul>
            </div>
            <div id="developer-about">
                <h3>About</h3>
                <p ng-repeat="paragraf in aboutDev">
                    {{paragraf}}
                </p>
            </div>
        </div>
        <h2 ng-if="profile.projects.length" id="project-h2">Projects</h2>

        <div id="projects-scroll">
            <div class="ss-wrap-js">
                <div class="project-container" 
                    ng-repeat="project in profile.projects" ng-init="$last && setElHeight()">
                    <figure class="project-screenshot">
                        <img ng-src={{project.avatar}} alt="img">
                        <figcaption>{{project.name}}</figcaption>
                    </figure>
                    <ul class="project-technology">

                        <li ng-repeat="technology in project.technologies track by $index"><img ng-src="{{ technology.image.path }}" alt="{{ technology.name }}" /></li>
                    </ul>

                    <div class="project-info">
                        <div>
                            <h3>Basic information</h3>
                            <p>{{project.description_developer}}</p>
                            <a ui-sref="project({id: project.id})" class="see_more-animation s_m-proj" >
                                <span>See more</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="javascript:;" id="lets-start-btn" class="see_more-animation" ng-click="showPopUpForm()"><span>Let's start working together!</span></a>
    </div>
</div>
