<div id="filters-block"  style="height:{{height}}px">
  <div>
    <div class="categories-btns-wrap">
      <button ng-click="callMenu()">{{header}}</button>
      <ul class="categories-btns" ng-show = "showbutton">
        <li ng-repeat="category in categories" ng-click="showCategorie(category)" class="{{showList === category ? 'active' : ''}}">{{ category }}</li>
      </ul>
    </div>

    <ul ng-repeat="category in categories" class="categories-list web" ng-show = "showList === category">
      <li ng-repeat="tech in technologies" ng-if="tech.category == category"><img ng-src="{{ tech.full_image.path }}" height="30" alt="{{ tech.name }}"></li>
      <li id="reset-filter">Reset filter</li>
    </ul>
  </div>
</div>

