<div class="header-big-container">
    <img src="img/header-big.jpg" alt="header">
    <div class="header-text-wrap">
        <div class="header-table">
            <div class="header-cell">   
                <div id="header-text">
                    <h1>Professional web development services.</h1>
                    <h3 ng-class="(slideIndex==0)?'active':''">Welcome to the code-care.</h3>
                    <h3 ng-class="(slideIndex==1)?'active':''">We doing high quality code.</h3>
                    <h3 ng-class="(slideIndex==2)?'active':''">We are carrying about your business.</h3>
                    <a  ui-sref="devs" id="pick-dev-btn" class="see_more-animation">
                        <span> Pick your developer</span>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</div>
<span id="black-arrow" du-smooth-scroll="black-arrow"></span>
<ul id="company-list" class="company-list">
        <li>
            <img src="img/apple.png">
        </li>
        <li>
            <img src="img/modern.png">
        </li>
        <li>
            <img src="img/foodpanda.png">
        </li>
        <li>
            <img src="img/menhealth.png">
        </li>
    </ul>
<div class="work-example">
    <div>
        <div class="work-example-left">    
            <h3>
                Men's Health, published by Rodale inc. in Emmaus, Pennsylvania
            </h3>
            <p>
                Although originally started as a men's health magazine, it currently covers various men's lifestyle topics
                such as men's lifestyle topics such as fitness, nutrition, fashion, and sexuality.
            </p>
            <a href="#" class="see_more-animation see-more-home">
            <span>See more</span>
                
            </a>
        </div>
    </div>
    <div>
        <div class="work-example-right">
            <img class="display-image" src="img/portfolio1.jpg" alt="img">
            <img src="img/products/desctop.png">
        </div>
    </div>
</div>
<contact-form></contact-form>

<div id="help-title">
    <h2>
        Help title
    </h2>
    <h3>
        Some help you to navigate
    </h3>
    <div id="help-title-left-img">
        <img src="img/case-study.png">
    </div>
    <div id="help-title-right-img">
        <img src="img/developer.png">
        <img src="img/blog.png">
    </div>
    <div id="help-title-big-img">
        <img src="img/products.png">
        <img src="img/contact.jpg">
    </div>
</div>