
<h1 class="page-header">Our products</h1>
<div class="hexagon-block products">
  <ul class="products-list">
    <li>
      <div class="hexagon-transform">
        <a href="post.html" target="_blank" class="link-block"></a>
        <div>
          <img src="public/img/products/coala.png" alt="img"/>
           <h5>Take a toor</h5>
        </div>
      </div>    
    </li>
    <li>
      <div class="hexagon-transform">
        <a href="post.html" target="_blank" class="link-block"></a>
        <div>
          <img src="public/img/products/huawei.png" alt="img"/>
          <h5>Take a toor</h5>
        </div>
      </div>    
    </li>
    <li>
      <div class="hexagon-transform">
        <a href="post.html" target="_blank" class="link-block"></a>
        <div>
          <img src="public/img/products/mens.png" alt="img"/>
          <h5>Take a toor</h5>
        </div>
      </div>    
    </li>
    <li>
      <div class="hexagon-transform">
        <a href="post.html" target="_blank" class="link-block"></a>
        <div>
          <img src="public/img/products/angle.png" alt="img"/>
          <h5>Take a toor</h5>
        </div>
      </div>    
    </li>
    <li>
      <div class="hexagon-transform">
        <a href="post.html" target="_blank" class="link-block"></a>
        <div>
          <img src="public/img/products/reebok.png" alt="img"/>
          <h5>Take a toor</h5>
        </div>
      </div>    
    </li>
    <li>
      <div class="hexagon-transform">
        <a href="post.html" target="_blank" class="link-block"></a>
        <div>
          <img src="public/img/products/nike.png" alt="img"/>
          <h5>Take a toor</h5>
        </div>
      </div>    
    </li>
    <li>
      <div class="hexagon-transform">
        <a href="post.html" target="_blank" class="link-block"></a>
        <div>
          <img src="public/img/products/windows.png" alt="img"/>
          <h5>Take a toor</h5>
        </div>
      </div>    
    </li>
  </ul>
</div>
<div class="product-article">
  <div class="product-image">
    <div class="desctop">     
      <img class="display-image" src="public/img/portfolio1.jpg" alt="img">
      <img src="public/img/products/desctop.png" alt="img">
    </div>    
  </div>
  <div class="product-description">
    <div>
      <h3>Men's Health , published by Rodale Inc. in Emmaus, Pennsylvania</h3>
      <p>Although originally started as a men's health magazine, 
      it currently covers various men's lifestyle topics such as 
      fitness, nutrition, fashion, and sexuality.</p>
    </div>
  </div>  
</div>
