 
<div class="pp-header">
    <img ng-src={{content.avatar}} alt="img">
    <div class="img-parent">
        <div class="pp-header-table">
            <div class="pp-header-cell">
                <div class="pp-header-text">
                    <h1 ng-bind-html="sce.trustAsHtml(header)"></h1>
                    <p ng-bind="content.description_short"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pp-content-wrap">
    <div class="pp-content pp1">
        <div class="pp-left">        
            <h2>MAIN IDEA</h2>
            <p ng-repeat="paragraf in mainIdea">{{paragraf}}</p>
        </div>

        <div class="ppslider-wrap">
            <div id="pp-slider" project-slider>  
                  <img class="step1" ng-src="{{content.product_image}}" alt="image">
                  <img class="step2" ng-src="{{content.product_image}}" alt="image">
            </div>
        </div>    
    </div>

    <h2 class="pp-head">TECHNOLOGIES USED</h2>


    <div class="pp-technologies" style="background-image: url('{{content.background_image}}');">
        <ul class="pp-icons-list">
            <li ng-repeat="technologie in content.technologies">
                <img ng-src="{{technologie.image}}" alt="{{technologie.name}}">
            </li>
        </ul>
        <div class="pp-counter-block">
            <ul class="pp-counter-list">
                <li>
                    <span class="name-count">Team size</span>
                    <p class="pp-count">{{content.team_size}}</p>
                </li>
                <li>
                    <span class="name-count">Hours spend</span>
                    <p class="pp-count">{{content.hours_spent}}h</p>
                </li>
                <li>
                    <span class="name-count">Coffe drinked</span>
                    <p class="pp-count">{{content.coffee_drinked}}</p>
                </li>
            </ul>
        </div>
    </div>


    <div class="pp-content pp2">
        <div class="pp-left">        
            <h2>Solution</h2>
            <p ng-repeat="paragraf in solution">{{paragraf}}</p>
        </div>

        <div class="pp-right">
            <h3>Developers that were involved</h3>
            <ul class="involved-devs">
                <li class="hexagon">
                    <div>
                        <img ng-src="{{ content.lead_developer.avatar }}" alt="">
                        <a ui-sref="developer({id: content.lead_developer.id})" class="link-block"></a>
                    </div>
                </li>
                <li ng-repeat="dev in content.developers" class="hexagon">
                    <div>
                        <img ng-src={{dev.avatar}} alt="image"/>
                        <a ui-sref="developer({id: dev.id})" class="link-block"></a>
                    </div>                    
                </li>
            </ul>

            <div class="involve-dev-info">
                <div class="hexagon">
                    <div>
                        <img ng-src={{content.recall.image}} alt="image"/>
                    </div>
                </div>
                <h4>{{content.recall.name}}</h4>
                <p>{{content.recall.text}}</p>
            </div>
        </div>    
    </div>
</div>
<contact-form></contact-form>
