
<div class="pp-header">
    <img src="img/pro-p_header.jpg" alt="img">
    <div class="img-parent">
        <div class="pp-header-table">
            <div class="pp-header-cell">
                <div class="pp-header-text">
                    <h1>WE ARE <br /> TECHNOLOGY</h1>
                    <p>Stories of employees</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pp-content-wrap">
    <div class="pp-content pp1">
        <div class="pp-left">        
            <h2>MAIN IDEA</h2>
            <p>
                In 2014 Sigma Technology launched a new market concept with the campaign “We are technology.” The idea behind it was to strengthen the company’s position on the market in the area of technology, boost employees’ motivation, attract new talents to the company and spread the corporate culture externally.
            </p>
            <p>
                The decision to launch a dedicated web section with employees’ stories was originated from the ambition to promote people, working at Sigma, make technology personal and something that the reader, him or herself, can relate to.
            </p>
            <p>
                Sigma Software performed wed design and web development, turning the initial concept into a smart web presence.
            </p>
        </div>

        <div class="pp-right">
            <img src="img/pp3.png" alt="sites">
        </div>    
    </div>

    <h2 class="pp-head">TECHNOLOGIES USED</h2>


    <div class="pp-technologies">
        <ul class="pp-icons-list">
            <li><img src="img/pp-icons/pp1.png" alt="img"></li>
            <li><img src="img/pp-icons/pp2.png" alt="img"></li>
            <li><img src="img/pp-icons/pp3.png" alt="img"></li>
            <li><img src="img/pp-icons/pp4.png" alt="img"></li>
            <li><img src="img/pp-icons/pp5.png" alt="img"></li>
            <li><img src="img/pp-icons/pp6.png" alt="img"></li>
            <li><img src="img/pp-icons/pp7.png" alt="img"></li>
            <li><img src="img/pp-icons/pp8.png" alt="img"></li>
            <li><img src="img/pp-icons/pp9.png" alt="img"></li>
            <li><img src="img/pp-icons/pp10.png" alt="img"></li>
        </ul>
        <div class="pp-counter-block">
            <ul class="pp-counter-list">
                <li>
                    <span class="name-count">Team size</span>
                    <p class="pp-count">70%</p>
                </li>
                <li>
                    <span class="name-count">Hours spend</span>
                    <p class="pp-count">60h</p>
                </li>
                <li>
                    <span class="name-count">Coffe drinked</span>
                    <p class="pp-count">64</p>
                </li>
            </ul>
        </div>
    </div>


    <div class="pp-content pp2">
        <div class="pp-left">        
            <h2>Solution</h2>
            <p>
                We provide high-qualified IT developers 
                for every stage of software development lifecycle — Investigation, Study, Design, Coding, Testing, Debugging, and Maintenance.
            </p>
            <p class="mb">
               IT developers for every stage of software development lifecycle — Investigation, Study, Design, Coding, Testing, Debugging, and Maintenance. 
            </p>
            <p>
                We are a strong team of the brightest, most enquiring minds in the industry 
                and we form close.
            </p>
            <p>
               We provide high-qualified 
            </p>
            <p>Our experienced team provides
             expertise in web design, web 
            application development, e-commerce solution development and mobile app.
            </p>
        </div>

        <div class="pp-right">
            <h3>Developers that was involved</h3>
            <ul class="involved-devs">
                <li class="hexagon">
                    <div>
                        <img src="img/1.jpg" alt=""/>
                    </div>
                </li>
                <li class="hexagon">
                    <div>
                        <img src="img/2.jpg" alt=""/>
                    </div>
                </li>
                <li class="hexagon">
                    <div>
                        <img src="img/3.jpg" alt=""/>
                    </div>
                </li>
                <li class="hexagon">
                    <div>
                        <img src="img/1.jpg" alt=""/>
                    </div>
                </li>
                 <li class="hexagon">
                    <div>
                        <img src="img/2.jpg" alt=""/>
                    </div>
                </li>
                <li class="hexagon">
                    <div>
                        <img src="img/3.jpg" alt=""/>
                    </div>
                </li>

            </ul>
            <div class="involve-dev-info">
                <div class="hexagon">
                    <div>
                        <img src="img/6.jpg" alt=""/>
                    </div>
                </div>
                <h4>Charles Stanway CEO </h4>
                <p>Our experienced team provides expertise in web design, web application development, e-commerce solution development and mobile app development.</p>
            </div>
        </div>    
    </div>
</div>
<contact-form></contact-form>
