
<h1 class="page-header">Lets get connected !</h1>
    
<div class="content-social">
    <ul class="social-list">
        <li><a href="#"><img src="img/social/soc1.png" alt="img"></a></li>
        <li><a href="#"><img src="img/social/soc2.png" alt="img"></a></li>
        <li><a href="#"><img src="img/social/soc3.png" alt="img"></a></li>
        <li><a href="#"><img src="img/social/soc4.png" alt="img"></a></li>
        <li class="active"><a href="#"><img src="img/social/soc5.png" alt="img"></a></li>
    </ul>
    <p>
       Lorem ipsum dolor sit amet, lectus eget elit aliquet elit ultricies, feugiat phasellus sed volutpat porttitor sem enim, quam dui quam, mauris sunt fringilla
    </p>
    <a href="#">Lorem ipsum dolor</a>
    <br>
    <br>
    <p>
       Lorem ipsum dolor sit amet, lectus eget elit aliquet elit ultricies, feugiat phasellus sed volutpat porttitor sem enim, quam dui quam, mauris sunt fringilla
    </p>
    <a href="#">Lorem ipsum dolor</a>
    <br>
    <br>
    <p>
       Lorem ipsum dolor sit amet, lectus eget elit aliquet elit ultricies, feugiat phasellus sed volutpat porttitor sem enim, quam dui quam, mauris sunt fringilla quam dui quam, mauris sunt fringilla
    </p>
    <a href="#">Lorem ipsum dolor</a>
</div>